<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Martin Kocour
              </h1>
              <p>
                I am a PhD student at the <a href="https://speech.fit.vut.cz/">BUT Speech@FIT</a>, part of the Department of Computer Graphics and Multimedia at <a href="https://www.fit.vut.cz/">Faculty of Information Technology</a> at <a href="https://www.vut.cz/en/">Brno University of Technology</a>, where I work on speech recognition. My PhD advisors are <a href="https://www.fit.vut.cz/person/cernocky/">Jan Cernocky</a> and <a href="https://lucasondel.github.io/">Lucas Ondel Young</a>.
              </p>
              <p>
                When I'm not immersed in my research, I enjoy spending time with my wife and friends or exploring the outdoors through hiking or skiing.
              </p>
              <p style="text-align:center">
                <i class="fa-solid fa-envelope"></i>&nbsp;<a target="_blank" href="https://mailhide.io/e/NM5CZT70">Email</a>&emsp;
                <i class="fa-brands fa-github"></i>&nbsp;<a target="_blank" href="https://github.com/MartinKocour">GitHub</a>&emsp;
                <i class="fa-brands fa-google-scholar"></i>&nbsp;<a target="_blank" href="https://scholar.google.com/citations?user=CEcKIB0AAAAJ">Google Scholar</a>&emsp;
                <i class="fa-brands fa-linkedin"></i>&nbsp;<a target="_blank" href="https://www.linkedin.com/in/martinkocour">LinkedIn</a>&emsp;
                <i class="fa-solid fa-file"></i>&nbsp;<a target="_blank" href="./pdfs/martin_kocour_resume.pdf" type="application/pdf">CV</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/me.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr></tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul style="height: 300px; overflow: auto">
                <li><strong>01/2025</strong>: Our work with Apple about rescoring ASR hypotheses with large language models (delayed-fusion) got accepted to <b>ICASSP 2025</b>.</li><br>
                <li><strong>12/2024</strong>: Submitted our new target-speaker ASR work called <a href="https://arxiv.org/abs/2501.00114">DiCoW: Diarization-conditioned Whisper</a> to <b>Computer Speech and Language</b> journal!</li><br>
                <li><strong>03/2024</strong>: Starting my 3rd Internship, this time at <b>Apple</b>. Working with <a href="https://scholar.google.com/citations?hl=en&user=ZZGpQG4AAAAJ">Takaaki Hori</a> and <a href="https://www.linkedin.com/in/adnanhaiderad/">Adnan Haider</a> on general ASR!</li><br>
                <li><strong>02/2024</strong>: Participating in TensorFST workshop, a 2-week workshop focused on differentiable WFSTs. The outcome is a new <a href="https://ptal.lisn.upsaclay.fr/">Speech Platform</a> in Julia!</li><br>
                <li><strong>06/2023</strong>: Participating in <a href="https://jsalt2023.univ-lemans.fr/en/summer-school/presentation-summer-school.html"><b>JSALT workshop</b></a>. Working with <a href="https://lucasondel.github.io/">Lucas Ondel Yang</a> (LISN, Université Paris Saclay) and <a href="https://scholar.google.com/citations?user=bJrIZK0AAAAJ&hl=en">Micheal Riley</a> (Google) on differentiable finite state automata!</li><br>
                <li><strong>10/2022</strong>: <b>Winning</b> Albayzin 2022 ASR Challenge with our <a href="https://www.isca-archive.org/iberspeech_2022/kocour22_iberspeech.html">BCN2BRNO system</a>!</li><br>
                <li><strong>09/2022</strong>: Starting my 2nd internship, this time at <a href="https://mila.quebec/en">MILA</a>. Working with <a href="https://sites.google.com/site/mircoravanelli/home?authuser=0">Mirco Ravanelli</a> and <a href="https://ycemsubakan.github.io/index.html">Cem Subakan</a> on source separation.</li><br>
                <li><strong>10/2021</strong>: Parrot emerges as a leading platform for remote depositions. <a href="https://forbes.cz/jak-parrot-objevil-ameriku-cesky-startup-dostal-umelou-inteligenci-do-soudni-sine/">Forbes Czechia recognizes Parrot</a> as a rising startup revolutionizing remote legal proceedings.</li><br>
                <li><strong>12/2020</strong>: Finishing <b>3rd</b> in <a href="https://catedrartve.unizar.es/albayzin2020results.html">Albayzin 2020 ASR Challenge</a>!</li><br>
                <li><strong>04/2020</strong>: Finishing <b>5th</b> in <a href="https://chimechallenge.github.io/chime6/index.html">CHiME 6 Challenge</a> with a focus on Multi-Talker ASR.</li><br>
                <li><strong>09/2019</strong>: Starting a part-time position at <a href="https://www.parrot.us/">Parrot</a> as a machine learning engineer.</li><br>
                <li><strong>06/2019</strong>: Finishing my master's and joining <a href="https://speech.fit.vut.cz/">Speech@FIT</a> research group with a focus on <b>speech recognition.</b></li><br>
                <li><strong>06/2018</strong>: Starting my first Internship at <a href="https://telefonicainnovaciondigital.com/">Telefónica Innovación Digital</a> in Barcelona. Working with <a href="https://www.linkedin.com/in/jordi-luque/">Jordi Luque</a> on self-supervised ASR models in Kaldi!</li><br>
                <li><strong>05/2018</strong>: Leaving DotyPos after great 3 years! DotyPos becomes a leader in POS system provider in Czechia.</li><br>
                <li><strong>05/2015</strong>: Starting my first career position at <a href="https://www.dotypos.com/">DotyPos</a> as a software engineer.</li><br>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I am interested in speech recognition, particularly conversational speech recognition, including multi-talker and target-speaker scenarios. Additionally, I am passionate about self-supervised learning and large-scale language modeling.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">paper</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.project %}
              <a href="{{post.project}}">project</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

